fastapi
uvicorn[standard]
streamlit
langchain
langchain-core
langchain-groq
langchain-text-splitters
langgraph
langsmith
tavily-python
beautifulsoup4
requests
pydantic
python-dotenv
PyYAML
python-multipart
aiofiles
huggingface-hub
langchain-huggingface
ragas
datasets
sentence-transformers